.chat {
  width: 400px;
  height: 650px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.login-page {
  background-color: black;
  border-radius: 20px;
  color: white;
  padding: 20px;
}

.all-messages {
  overflow-y: scroll;
}

.mensaje {
  width: 85%;
  margin-top: 20px;
  border-radius: 15px;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(245, 243, 194);
}

.mensaje img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px black;
}

.mensaje.recibido {
    margin-left: 2%;
}

.mensaje.enviado {
    margin-left: 8%;
}

.mensaje-header {
  display: flex;
}

.mensaje-header h1 {
  font-size: 15px;
}

.mensaje-header h1.date {
  color: darkgrey;
  right: 0;
}

.mensaje-mensaje {
  text-align: left;
}

.send-text {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.input {
    width: 85%;
    height: 25px;
    border-radius: 15px;
    font-size: 15px;
}

.send-button {
    width: 10%;
    border-radius : 50%;
}

.image-selector{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: black;
    border-radius: 15px;
}

.image-selector img  {
    background-color: black;
    width: 70px;
    height: 70px;
    margin: 10px;
    cursor: pointer;
    opacity: 0.6;
}

.image-selector img:hover,
.image-selector img.active {
    transform: scale(1.02);
    opacity: 1;
}

.login-button {
    width: 100px;
    height: 40px;
    margin-top: 35px;
    border-radius: 15px;
}